!!! 5
%html
  %head
    %title= title
    %link{rel: "stylesheet", href: "/stylesheets/parts.css"}
    %link{rel: "stylesheet", href: "/stylesheets/top.css"}
    %link{rel: "stylesheet", href: "/stylesheets/codemirror.css"}
    %link{rel: "stylesheet", href: "/stylesheets/theme/ambiance.css"}
    %link{rel: "stylesheet", href: "/stylesheets/theme/lesser-dark.css"}
    %link{rel: "stylesheet", href: "/stylesheets/theme/monokai.css"}
    %link{rel: "stylesheet", href: "/stylesheets/jquery.pnotify.default.css"}
    %script{src:"/javascripts/libs/jquery-2.0.2.min.js"}
    %script{src:"/javascripts/libs/jquery.pnotify.min.js"}
  %body
    != body
