@font-face {
  font-family: 'Ricty';
  font-weight: 'normal';
  font-style: 'normal';
  src: asset-url("RictyDiminished-Regular.ttf", font) format("truetype");
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #333;
  font-family: Ricty;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 100px;
  padding: 100px;
}

.btns {
  text-align: center;
}

.code_title {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 30px;
  line-height: 30px;
  cursor: text;
  font-family: Ricty;
}

.code_title:hover {
  background-color: #aaa;
}

.code_title_input {
  display: none;
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 30px;
  line-height: 30px;
  cursor: text;
  padding: 0;
  border: 0;
  margin: 0;
  color: #333;
  background-color: #fff;
  font-family: Ricty;
  outline: none;
}

.editor {
  position: absolute;
  top: 50px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.editor .codemirror {
  display: none;
}
